@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(156deg, rgb(0, 0, 0) 0%, rgb(50, 5, 5) 74%, rgb(38, 1, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

html  {
  height: 100%;
}
li {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

.overflow-container {
  flex-wrap: wrap;
  overflow-x: scroll;
}

.overflow-container > div {
  flex-basis: 50vw;
}

.overflow-container > div:nth-child(n+2) {
  margin-top: 20px;
}